@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* GENERALS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION*/
header {
  background-color: #1f2937;
  padding: 1em 13em;
}

/* NAVIGATION SECTION*/
.secondary,
a:link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

#navigation-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.navigation {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  gap: 1.5em;
  list-style-type: none;
}

/* WELCOME SECTION*/
.mainTitle {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
}

.mainContent {
  align-items: center;
  display: flex;
  gap: 2em;
  justify-content: center;
  padding: 7em 0;
}

.mainContent-right {
  flex-shrink: 0;
  width: 50%;
}

.mainContent-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 7px 1em;
  width: 120px;
}

.mainContent button {
  border: none;
}

/* WELCOME SECTION > MAIN IMAGE */
.image {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 215px;
}

/* CARD SECTION */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 0 13em;
}

main h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0 6em 0;
}

.card-container_card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-width: 200px;
  text-align: center;
}

.card-square {
  border-radius: 20px;
  border: 4px solid #3882F6;
  height: 160px;
  width: 160px;
}

/* QUOTE SECTION*/
.main-quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7em 13em;
}

.main-quote p {
  align-self: flex-end;
  color: #1f2937;
  font-size: 24px;
  font-weight: bolder;
}

.main-quote em {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
}

/* SIGN UP SECTION*/
.main-sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5em 13em;
}

.container {
  align-items: center;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 3em;
  width: 100%;
}

.container button {
  border: 2px solid #FFF;
}

strong {
  color: #FFF;
  font-size: 24px;
}

/* FOOTER */
footer {
  align-items: center;
  background-color: #1f2937;
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
